* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: black;
}

/* .invisible {
  display: none;
} */

.nav-burger {
  display: none;
  width: 40px;
  height: 31px;
  /* border: 1px solid red; */
  align-self: center;
  position: relative;
  cursor: pointer
}

.nav-burger:before,
.nav-burger:after {
  content: "";
  display: inline
}

.nav-burger>span,
.nav-burger:before,
.nav-burger:after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #999;
}

.nav-burger>span {
  top: 14px;
}

.nav-burger:before {
  top: 0px
}

.nav-burger:after {
  bottom: 0px;
}

.text_color--red {
  color: #ff0033
}

.section_title {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: lowercase;
  text-align: center;
}

.section__description {
  font-family: Lato, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

/* header */
.header {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 1);
  opacity: .8;
  padding: 0 115px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 50;

}

.nav {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.nav__list__item {
  list-style-type: none;
  display: inline-block;
  border-top: 3px solid #000;
  border-bottom: 2px solid #000;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.nav__list__link {
  text-decoration: none;
  color: #999;
  font-size: 18px;
  line-height: 65px;
}

.nav__list__link:not(:last-child) {
  margin-right: 20px;
}

.nav__list__item:hover {
  color: #fff;
  border-top: 3px solid #ff0033;
  border-bottom: 2px solid #ff0033;

}

.logo {
  width: 251px;
  height: 106px;
  background: url("/img/logo.png") no-repeat;
  background-size: contain;
}

/* end header */

/* swiper slider */

.swiper-container {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.slide-1 {
  background: url(/img/slider_1.jpg) center no-repeat;
}

.slide-2 {
  background: url(/img/slider_2.jpg) center no-repeat;
}

.slide-3 {
  background: url(/img/slider_3.jpg) center no-repeat;
}

.swiper-button {
  width: 28px;
  height: 28px;
  z-index: 50;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.button-prev {
  left: 2%
}

.button-next {
  right: 2%
}

.arrow {
  transition: fill 0.3s ease-in-out;
  -webkit-transition: fill 0.3s ease-in-out;
  -moz-transition: fill 0.3s ease-in-out;
  -ms-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
}

.svg-nav:hover .arrow {
  fill: #ff0033
}

.slider__button:active .arrow {
  fill: #ff0033;
  outline: none;
}

.slider__button:focus .arrow {
  fill: #ff0033;
  outline: none;
}

.slider-filter {
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgb(0, 0, 0);
  opacity: 0.7
}

/* end awiper slider */


/* slider content */
.slider {
  width: 100%;
  height: 700px;
  color: #fff;
  position: relative;

}

.slider__title {
  text-transform: lowercase;
}

.button {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  text-align: center;
}

.slider__button {
  color: #fff;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  background-color: #000;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
}

.slider__button:focus {
  background-color: #ff0033;
  outline: none;
}

.slider__button:hover {
  background-color: #ff0033;
}

.slider__button:active {
  background-color: #ff0033;
  color: #999;
}


.slider__content {
  width: 800px;
  height: 240px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  /* z-index: 20; */
  top: 40%;
  margin: 0 auto;
  
  left: 0;
  right: 0;
}

.slider__buttons {
  width: 366px;
  display: flex;
  justify-content: space-between;
}

/* end slider content */



/* about */

.about {
  background-color: #fff;
  padding: 100px 115px;
}

.about__main {
  display: flex;
}

.about__info {
  flex: 1;
}

.about__pics {
  flex: 1;
}

.about__title {
  color: #000;
  margin: 0 auto 49px;  
}

.about__description {
  margin: 0 auto 90px;
}

.about__text {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.spoiler {
  margin-bottom: 9px;
  border: 1px solid #999
}

.spoiler__summary {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
  background-color: #e7e7e7;
  padding: 14px 30px;
  border-bottom: 1px solid #999
}

.spoiler__text {
  padding: 15px;
}
/* end about */




/* media queries */

@media(max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
  .slider {
    height: 700px;
  }
  .logo {
    width: 251px;
  }
  .nav__list__link {
    font-size: 14px;
    
  }
}

@media(max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .slider {
    height: 540px;
  }
  .header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0 50px;
  }
  .logo {
    width: 180px;
  }
  .nav__list__link {
    font-size: 12px;
    line-height: 46px;
    color: green;
  }
  .slide {
    background-size: cover;
  }
  .slider__content {
    width: 500px;
    height: 200px;
  }
  .section_title {
    font-size: 25px;
  }
  .section__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .slider__button {
    width: 130px;
    height: 40px;
    line-height: 40px;
  }
  .button {
    font-size: 15px;
  }
  .slider__buttons {
    width: 290px;
  }
}

@media(max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    background-color: black;
    z-index: -1;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
  }

  .nav__list__item {
    /* display: block; */
  }

  .nav-burger {
    display: block
  }
}

@media(max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media(max-width: 575px) {
  .container {
    max-width: 100%;
  }
}



/* end media queries */