* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: black;
}

.invisible {
  visibility: hidden;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all0.3;
}

.nav_hidden_pannel {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 48;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}


.nav-burger {
  display: none;
  width: 40px;
  height: 31px;
  /* border: 1px solid red; */
  align-self: center;
  position: relative;
  cursor: pointer;
  z-index: 49;
}

.nav-burger:before,
.nav-burger:after {
  content: "";
  display: inline
}

.nav-burger>span,
.nav-burger:before,
.nav-burger:after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #999;
}

.nav-burger:before,
.nav-burger:after {

  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.nav-burger>span {
  top: 14px;
}

.nav-burger:before {
  top: 0px
}

.nav-burger:after {
  bottom: 0px;
}

.nav-burger.burger_active::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 14px;
}

.nav-burger.burger_active::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  top: 14px;
}

.nav-burger.burger_active>span {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.text_color--red {
  color: #ff0033
}

.section_title {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
}

.section__description {
  font-family: Lato, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

/* header */
.header {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 115px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 50;
}

.nav,
.nav_hidden {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list__item {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.nav__list__item::before,
.nav__list__item::after {
  content: "";
  visibility: hidden;
  width: 100%;
  background-color: none;
  position: absolute;
  left: 0;
}

.nav__list__item::before {
  top: 0%;
  height: 3px;
}

.nav__list__item::after {
  bottom: 0%;
  height: 2px;
}

.nav__list__item,
.nav__list__item::after,
.nav__list__item::before {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.nav__list__link {
  text-decoration: none;
  color: #999;
  font-size: 18px;
  line-height: 71px;
}

.nav__list__link:not(:last-child) {
  margin-right: 20px;
}

.nav__list__item:hover {
  color: #fff;
}

.nav__list__item:hover::after,
.nav__list__item:hover::before {
  visibility: visible;
  background-color: red;
}

.nav__list__item:active {
  color: #666
}

.logo {
  width: 251px;
  height: 106px;
  background: url("/img/logo.png") no-repeat;
  background-size: contain;
}

/* end header */



/* swiper slider */

.swiper-container {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.slide-1 {
  background: url(/img/slider_1.jpg) center no-repeat;
}

.slide-2 {
  background: url(/img/slider_2.jpg) center no-repeat;
}

.slide-3 {
  background: url(/img/slider_3.jpg) center no-repeat;
}

.swiper-button {
  width: 28px;
  height: 28px;
  z-index: 50;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.button-prev {
  left: 2%
}

.button-next {
  right: 2%
}

.arrow {
  transition: fill 0.3s ease-in-out;
  -webkit-transition: fill 0.3s ease-in-out;
  -moz-transition: fill 0.3s ease-in-out;
  -ms-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
}

.svg-nav:hover .arrow {
  fill: #ff0033
}

.slider__button:active .arrow {
  fill: #ff0033;
  outline: none;
}

.slider__button:focus .arrow {
  fill: #ff0033;
  outline: none;
}

.slider-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.7
}

/* end swiper  */


/* slider content */
.slider {
  width: 100%;
  height: 700px;
  color: #fff;
  position: relative;
}

.slider__title {
  text-transform: lowercase;
}

.button {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  text-align: center;
}

.slider__button {
  color: #fff;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  background-color: #000;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
}

.slider__button:focus {
  background-color: #ff0033;
  outline: none;
}

.slider__button:hover {
  background-color: #ff0033;
}

.slider__button:active {
  background-color: #ff0033;
  color: #999;
}

.slider__content {
  width: 800px;
  height: 240px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 40%;
  margin: 0 auto;

  left: 0;
  right: 0;
}

.slider__buttons {
  width: 366px;
  display: flex;
  justify-content: space-between;
}

/* end slider content */


/* about */

.about {
  background-color: #fff;
  padding: 100px 115px;
}

.about__main {
  min-height: 360px;
  display: flex;
}

.about__info {
  flex: 1;
  margin-right: 15px;
}

.about__pics {
  flex: 1;
  margin-left: 15px;
  position: relative;
  overflow: hidden;
  min-height: 320px;
}

.about__pic {
  position: absolute;
  margin: 0 auto;
  width: 426px;
}

#right-pic {
  right: 0;
}

#left-pic {
  left: 0;
}

#front-pic {

  left: 50%;
  margin-left: -213px;
  z-index: 10;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linejoin: miter;
}

#right-pic,
#left-pic {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

#right-pic .back-filter,
#left-pic .back-filter {
  opacity: 0.5;
}

#front-pic .back-filter {
  opacity: 0;
}

.about__title {
  color: #000;
  margin: 0 auto 49px;
}

.about__description {
  color: #666;
  margin: 0 auto 90px;
}

.about__text {
  color: #666;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.spoiler {
  margin-bottom: 9px;
  border: 1px solid #999;

}

.spoiler:focus,
.spoiler__summary:focus {
  outline: none
}

.spoiler__summary {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
  background-color: #e7e7e7;
  padding: 14px 21px;
  cursor: pointer;

}

.spoiler__summary::-webkit-details-marker {
  display: none
}

.spoiler[open] .spoiler__summary {
  border-bottom: 1px solid #999;
}

.spoiler[open] summary~* {
  animation: appear .5s ease-in;
  -webkit-animation: appear .5s ease-in;
}

@keyframes appear {
  0% {
    color: white
  }

  ;

  100% {
    color: initial
  }
}

.spoiler__text {
  padding: 15px;
  color: #666;
  animation: appear .5s ease-in;
}

.spoiler__plus {
  margin-right: 10px;
}

.plus {
  display: inline-block;
  vertical-align: middle;
}

.about__pic {
  width: 426px;
}

.about__scroll-bar {
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
}

.bar {
  width: 500px;
  height: 1px;
  margin: 0 auto;
  background: #ff0033;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 21px;
  height: 17.6px;
  background: url('/svg/range.svg') no-repeat;
  cursor: pointer;
}

/* end about */



/* portfolio */

.portfolio {
  background-color: #262626;
  padding: 100px 0;
}

.portfolio__menu_container {
  margin-top: 25px;
}

.portfolio__menu {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.portfolio__menu__item {
  display: inline-block;
  color: #a4a4a4;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.portfolio__menu__item:hover {
  color: #ff0033;
}

.portfolio__pics {
  margin-top: 100px;
}

.portfolio__pics__grid_wrapper {
  display: grid;
  grid-template-rows: repeat(2, 335px);
}

.portfolio__pic {
  position: relative;
  cursor: pointer;
  transition: background-size 0.3s ease-in;
  -webkit-transition: background-size 0.3s ease-in;
  -moz-transition: background-size 0.3s ease-in;
  -ms-transition: background-size 0.3s ease-in;
  -o-transition: background-size 0.3s ease-in;
}

.portfolio__pic:hover .pic_hover {
  display: flex;
  animation: hover-black-appears 0.3s ease-in;
  -webkit-animation: hover-black-appears 0.3s ease-in;
}

@keyframes hover-black-appears {
  0% { background:rgba(0, 0, 0, 0.1); visibility: hidden; }
  100% { background:rgba(0, 0, 0, 1); visibility: visible;}
}

.pic_plus:hover .pic-line {
  stroke: #ff0033;
}

.portfolio__pic_1,
.portfolio__pic_2,
.portfolio__pic_3,
.portfolio__pic_4 {
  grid-row: 1 / 2;
}

.portfolio__pic_5,
.portfolio__pic_6,
.portfolio__pic_7,
.portfolio__pic_8 {
  grid-row: 2 / 3;
}

.portfolio__pic_1 {
  grid-column: 1 / 5;
  background: url("/img/portfolio/portfolio_1.png") 33%;
}

.portfolio__pic_2 {
  grid-column: 5 / 8;
  background: url("/img/portfolio/portfolio_2.png") 33%;
}

.portfolio__pic_3 {
  grid-column: 8 / 12;
  background: url("/img/portfolio/portfolio_3.png") 33%;
}

.portfolio__pic_4 {
  grid-column: 12 / 15;
  background: url("/img/portfolio/portfolio_4.png") 33%;
}

.portfolio__pic_5 {
  grid-column: 1 / 4;
  background: url("/img/portfolio/portfolio_5.png") 33%;
}

.portfolio__pic_6 {
  grid-column: 4 / 8;
  background: url("/img/portfolio/portfolio_6.png") 33%;
}

.portfolio__pic_7 {
  grid-column: 8 / 11;
  background: url("/img/portfolio/portfolio_7.png") 33%;
}

.portfolio__pic_8 {
  grid-column: 11 / 15;
  background: url("/img/portfolio/portfolio_8.png") 33%;
}

/*hover black*/
.pic_hover {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: space-around;
  align-items: center;
  position: absolute;

}

.pic_plus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.pic_name {
  color: #fff;
  font-family: Lato, sans-serif;
  font-weight: normal;
}

.pic-line {
  transition: stroke 0.3s ease-in;
  -webkit-transition: stroke 0.3s ease-in;
  -moz-transition: stroke 0.3s ease-in;
  -ms-transition: stroke 0.3s ease-in;
  -o-transition: stroke 0.3s ease-in;
}

/*end hover black*/


/* end portfolio */




/* media queries */

@media(max-width: 1399px) {
  .container {
    max-width: 1140px;
  }

  .slider {
    height: 700px;
  }

  .logo {
    width: 251px;
  }

  .nav__list__link {
    font-size: 14px;
  }

  .about__pic {
    width: 350px;
  }

  .about__main {
    min-height: 310px;
  }

  .about__scroll-bar {
    margin-top: 80px;
  }

  #front-pic {
    margin-left: -175px;
  }
}

@media(max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .slider {
    height: 540px;
  }

  .header {
    width: 100%;
    height: 50px;
    padding: 0 50px;
  }

  .logo {
    width: 180px;
  }

  .nav__list__link {
    font-size: 12px;
    line-height: 51px;
    /* color: green; */
  }

  .slide {
    background-size: cover;
  }

  .slider__content {
    width: 500px;
    height: 200px;
  }

  .section_title {
    font-size: 25px;
  }

  .section__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  .slider__button {
    width: 130px;
    height: 40px;
    line-height: 40px;
  }

  .button {
    font-size: 15px;
  }

  .slider__buttons {
    width: 290px;
  }

  .about {
    padding: 50px 73px;
  }

  .text {
    font-size: 12px;
  }

  .spoiler__summary {
    font-weight: 400;
    font-size: 16px;
    padding: 9px 14px;
  }

  .about__title {
    margin-bottom: 39px;
  }

  .about__description {
    margin-bottom: 30px;
  }

  .about__pic {
    width: 270px;
  }

  .about__main {
    min-height: 280px;
  }

  .about__scroll-bar {
    margin-top: 80px;
  }

  #front-pic {
    margin-left: -135px;
  }

  .portfolio {
    padding: 50px 0;
  }
  .portfolio__menu_container {
    margin-top: 15px;
  }
  .portfolio__menu__item {
    font-weight: bold;
    font-size: 12px;
  }

  .portfolio__menu {
    max-width: 330px;
  }

  .portfolio__pics {
    margin-top: 32px;
  }

  .portfolio__pics__grid_wrapper {
    grid-template-rows: repeat(2, 220px);
  }
  .portfolio__pic {
    background-size: 120%;
  }
}

@media(max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .header {
    background-color: rgba(0, 0, 0, 0);
  }

  .logo {
    width: 90px;
  }

  .slider__content {
    width: 200px;
  }

  .section_title {
    font-size: 18px;
  }

  .section__description {
    font-size: 12px;
  }

  .slider__buttons {
    width: 200px;
  }

  .button {
    font-size: 12px;
  }

  .slider__button {
    width: 99px;
    height: 35px;
    line-height: 35px;
  }

  .slider__content {
    top: 27%;
    height: 250px;
  }

  .nav {
    display: none;
  }

  .nav-burger {
    display: block
  }

  .arrow {
    display: none;
  }

  .nav__list {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .nav__list__link {
    text-decoration: none;
    color: #999;
    font-size: 32px;
    line-height: 54px;
  }

  .about {
    padding: 35px 55px;
  }

  .text {
    font-size: 12px;
  }

  .about__main {
    min-height: 250px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__description {
    margin-bottom: 25px;
  }

  .about__main {
    flex-direction: column;
  }

  .about__pics {
    margin: 0;
    min-height: 276px;
  }

  .about__info {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .portfolio {
    padding: 30px 0;
  }
  .portfolio__menu_container {
    margin-top: 10px;
  }
  .portfolio__menu__item {
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.1rem;
  }

  .portfolio__pics {
    margin-top: 25px;
  }

  .portfolio__pic {
    grid-column: 
  }

  .portfolio__pics__grid_wrapper {
    grid-template-rows: repeat(2, 180px);
  }  
}

@media(max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .bar {
    width: 300px
  }

  .pic_hover {
    display: none !important;
  }

  .portfolio__pic {
    background-size: 10% no-repeat;
    grid-row: none;
    grid-column: none;
  }

  .portfolio__pics__grid_wrapper {
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6" "p7 p8";
  }

  .portfolio__pic_1 {
    grid-area: p1;
  }

  .portfolio__pic_2 {
    grid-area: p2;
  }

  .portfolio__pic_3 {
    grid-area: p3;
  }

  .portfolio__pic_4 {
    grid-area: p4;
  }

  .portfolio__pic_5 {
    grid-area: p5;
  }

  .portfolio__pic_6 {
    grid-area: p6;
  }

  .portfolio__pic_7 {
    grid-area: p7;
  }

  .portfolio__pic_8 {
    grid-area: p8;
  }  
}

@media(max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .bar {
    width: 100px
  }

  .about__pics,
  .about__scroll-bar {
    display: none;
  }
  
  .portfolio__pic {
    background-size: 100%;
  }

  

 
}



/* end media queries */